// WiFi
#define SSID "WIFI-SSID"
#define PASSWORD "WIFI-PASSWORD"

// Live Temperature
#define CELSIUS true

// Station
#define STATION "IP OF HOME STATION"

// OLED Settings
#define OLED_ADDRESS 0x3C
#define SCREEN_WIDTH 128
#define SCREEN_HEIGHT 64

// DHT Settings
#define DHTPIN D3
#define DHTTYPE DHT22